<div class="container-fluid session-page">
  <div class="row">
    <div class="session-container col-md-3 col-md-offset-4">
      <form action="/session" method="post" >
        <%= render 'shared/errors' %>
        <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
          <div class="form-container">
            <div class="form-group">
                <label for="inputEmail3"><h4>EMAIL</h4></label>
                <input type="email" class="form-control" name="user[email]" id="inputEmail3" tabindex="1">
            </div>
            <div class="form-group session-password-container">
              <label for="inputPassword3"><h4>PASSWORD</h4></label>
              <input type="password" class="form-control" name="user[password]" id="inputPassword3" tabindex="2" required="">
            </div>
            <br>
            <div class="session-buttons last">

              <button type="submit" class="confirm">Sign in</button>
                  &nbsp;    &nbsp;
              <button type="reset" class="cancel" style="border: none;">RESET</button>
              <br><br>
              <span>OR</span><br><br>
              <span class="guest-login">Guest Login</span>
            </div>
          </div>
      </form>
      <br>
      <div class="session-register">Not Registered? <%= link_to "Sign up here", new_user_url%></div>
    </div>
  </div>

</div>

<% emails = %w(vicky@gmail.com adagio@escargo.com lana@gmail.com) %>


<script>
  $('')

   $('.guest-login').click(function(){
     $("input[name='user[email]']").val('');
     $("input[name='user[password]']").val('');
     autoTyper('<%= emails.sample %>', $("input[name='user[email]']"), function(){
       autoTyper('passw0rd26', $("input[name='user[password]']"), function(){
         $('.confirm').click();
       });
     });
   });
   var autoTyper = function(word, $el, callback){
     var typer = setInterval(function(){
       $el.val($el.val() + word.slice(0,1));
       word = word.substr(1);
       if(word.length === 0){
         clearInterval(typer);
         callback();
       }
     }, 50);
   }
</script>
