<div class="main-fp-wrapper">
  <div class="default-top-s1">
    <div class="logo-container">
      <img src="http://res.cloudinary.com/mycut/image/upload/c_scale,w_982/v1435190309/misc/logo.png">
    </div>

    <div class="arrow"><i class="fa fa-long-arrow-down"></i></div>
  </div>
</div>
