<div class="main-wrapper">
  <div class="default-top">
    <div class="header"><h1>myCut</h1> </div>
  </div>
  <div class="content__container">
    <div class="content animated fadeIn">
      <div class="content__header">
        An app for finding the last stylist/barber you will ever need.
      </div>
      <div class="content__links">
        <a href="<%= new_user_url %>">
          <div class="links--signup"> Sign up </div>
        </a>
        <a href="<%= new_session_url %>">
          <div class="links--signin"> Sign in </div>
        </a>
      </div>
    </div>
  </div>

  <div class="default-bottom animated fadeIn">
    <div class="app-info">
      <i class="fa fa-long-arrow-down"></i>
    </div>
  </div>
</div>
