
<div id="fullpage">
  <div id="section1" class="section">
    <%= render partial: 'roots/first_section' %>
  </div>
  <div id="section2" class="section">
    <%= render partial: 'roots/second_section' %>
  </div>
</div>

<script>
  $(document).ready(function() {
     $('#fullpage').fullpage({ });
   });
 </script>
