<meta name="viewport" content="width=device-width, initial-scale=1">


<div id="nav"></div>
<div id="main"></div>

<script>

  $(document).ready(function(){
    window.id = <%= current_user.id %>
    MyCut.initialize();
  });
</script>
