<div class="form-container barber-create-form">
  <br>
  <div class="title">CONFIRMATION</div>
  <br>
  <strong>WARNING<strong><br>
  <span>You are about to <span class="warning">irreversibly</span> delete your account.</span>
  <br>Do you wish to proceed?
  <br><br>
  <span class="cancel-delete">CANCEL</span>
  &nbsp; &nbsp;
  <span class="confirm-delete">YES</span>
</div>
