<div class="barber-container">
  <span class="barber-name"><%= barber.escape('name') %></span>
  <br>
  <div class="barber-profile-crop">
    <img class="shop-barber-photo" src="<%= barber.escape('photo_url') %>">
  </div>
  <br>
  <a class ="barber-portfolio-modal" href="javascript:void(0)">EDIT PORTFOLIO</a>
</div>
