<div class="grid-container col-xs-12 col-md-8 col-md-offset-2">
  <div class="photo-grid">
    <% images.each(function(image){ %>
        <img class="grid-item-image" src="<%= image.escape('photo_url') %>">
    <% }) %>
  </div>
</div>
