<div class="form-container barber-create-form">
  <br>
  <div class="title">CONFIRMATION</div>
  <br>
  <label for="barber-name">WARNING</label>
  <span>You are about to <span class="warning">irreversibly</span> remove your selected barbers. </span>
  <br>Do you wish to proceed?
  <br>
  <span class="cancel-delete">CANCEL</span>
  &nbsp; &nbsp;
  <span class="confirm-delete">YES</span>
</div>
