<div class="port-container barber-portfolio-form">
  <span class="cancel-button"><i class="fa fa-times"></i></span>
  <br>
  <div class="title"><%= barber.escape('name') %></div>
  <br>
  <form class="form-group">
    <label>PHOTO</label>
    <br>
    <span class="upload-button"><i class="fa fa-plus"></i></span>
    <br><br>

    <div class="form-buttons">

      <input type="submit" class="create-barber-button">
    </div>
  </form>

  <ul class="barber-portfolio-collection">

  </ul>


</div>
