<div class="form-container barber-create-form">
  <span class="cancel-button"><i class="fa fa-times"></i></span>
  <br>
  <% title = barber.isNew() ? "NEW BARBER" : "EDIT BARBER" %>
  <div class="title"><span class="modal-title"><%= title %></span></div>
  <br>
  <form class="form-group">
    <label for="barber-name">NAME</label>
    <input type="text" class="form-control" name="barber[name]" id="barber-name">
    <br>
    <label class="upload-button" ><span class="modal-form-category"><span class=""><i class="fa fa-camera"></i></span></label>
    <br>
    <div class="upload-preview"><img></div>
    <br><br>

    <div class="form-buttons">

      <input type="submit" class="create-barber-button">
    </div>
  </form>
</div>
