<div class="form-container barber-create-form">
  <br>
  <div class="title">CONFIRMATION</div>
  <br>
  <span>You are about to <span class="warning">irreversibly</span> remove the selected barbers. </span>
  <br>Do you wish to proceed?
  <br><br>
  <span class="cancel">CANCEL</span>
  &nbsp; &nbsp;
  <span class="confirm">YES</span>
</div>
