<% if flash[:errors] %>
  <div class="alert text-danger" role="alert">
    <ul>
      <% flash[:errors].each do |msg| %>
        <li style="
              list-style: none;
              text-align: center;
              text-transform: uppercase;"><em><%= msg %></em></li>
      <% end %>
    </ul>
  </div>
<% end %>
