<div id="masthead">
  <div class="container">
    <div class="row">
      <div class="col-md-7">
        <h1><em>Shops</em>
          <p class="lead">Get your cut today.</p>
        </h1>
      </div>
      <br><br><br>
      <div class="shop-feature col-xs-2">
          <a href="#/shops/new"><button class="btn btn-default">Feature your shop</button></a>
      </div>
    </div>
  </div><!--/container-->
</div><!--/masthead-->


<div class="shop-items-index col-md-8 col-sm-offset-1"></div>
<div class="col-md-2 col-md-offset-8">
    <div id="map-canvas"></div>
</div>
