<div id="masthead">  
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1><em>Shops</em>
            <p class="lead">Get your cut today.</p>
          </h1>
        </div>
      </div>
	  <div class="row">
        <div class="col-xs-2">
            <div class="well well-sm">
 				Feature your shop
            </div>
        </div>
      </div>
  </div><!--/container-->
</div><!--/masthead-->




<div class="container-fluid">
  <div class="search-show">

    <div class="row header">
      <div class="col-md-4 descr"></div>
      <div class="col-md-4 col-md-off-set-4 new-shop"></div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <div class="col-md-6">
          <div class="shop-items"></div>
        </div>
        <div class="col-md-6">
          <div class="map-item"></div>
        </div>
      </div>
    </div>

  </div>
</div>
