<div id="masthead">
  <div class="container">
      <div class="row">
        <div class="col-md-7">
          <h1><em>Shops</em>
            <p class="lead">Get your cut today.</p>
          </h1>
        </div>
      </div>
	  <div class="row">
        <div class="col-xs-2">
            <button class="btn btn-default" href="#/shops/new" role="button">Feature your shop</a>
        </div>
      </div>
  </div><!--/container-->
</div><!--/masthead-->

<div class="container-fluid">

  <div class="search-show col-md-10 col-sm-offset-1">
    <div class="shop-items-index col-md-6">
  </div>

  <div class="search-show col-md-2">
    <div class="col-md-4">
    yes
      <div id="map-canvas"></div>
    </div>
  </div>
</div>
