<div class="shops-index col-md-5 col-md-offset-6 col-xs-9 col-xs-offset-1">
  <div class="loader"></div>
    <div id="load" style="color: black;">
      <div>G</div>
      <div>N</div>
      <div>I</div>
      <div>D</div>
      <div>A</div>
      <div>O</div>
      <div>L</div>
    </div>
    <div class="no-response-filler" style="display: none;">
      <span class="no-shops" style="color:black;">Sorry! No matches were found.<br> Please try another search.</span>
    </div>
</div>
