<div class="shops-index col-xs-10 col-xs-offset-1 col-sm-6 col-md-10">

<div class="no-response-filler">
  <span class="no-shops">Sorry! No matches were found.<br> Please try another search.</span>
</div>

</div>
