<div class="container-fluid level-two">
  <div class="row landing-level-three col-md-12">
    <br><br><br>
    <div class="shops-composite col-md-6 col-xs-6">

    </div>
    <div class="map-container col-md-6 col-xs-6">
      <div class="map"></div>
    <div>
  </div>
</div>
