<div class="buttons-divider">
  <div class="barber-control-buttons">
    <span class="new-barber-button">
      <i class="fa fa-plus"></i>
    </span>
    &nbsp;
    <span class="delete-barber-button">
      <i class="fa fa-trash"></i>
    </span>
  </div>
</div>


<hr style="clear: both;">
<ul class="barber-photos">
  <div class="empty-shop">
    Your shop is looking a little lonely.
    <span class="new-barber-button">
      <i class="fa fa-plus"></i>  Add a barber.
    </span>
  </div>

</ul>
