<div class="map-container">
  <div class="map"></div>
</div>

<div class="level-two">
  <div class="row landing-level-three col-md-12">
    <br><br><br>
    <div class="shops-composite col-md-12">
    </div>
  </div>
</div>
