<div class="shop-photo"><img class="resize" src="<%= shop.escape('photo_url') %>"></div>
<a href="#/shops/<%= shop.escape('id') %>">
  <h3><%= shop.escape('name') %></h3>
  <div class="rating" data-path="assets/images"></div><div><%= shop.escape('num_reviews') %> REVIEWS</div>
  <hr>
</a>
