<div class="container-fluid level-two">
  <div class="row feed-header col-md-12">
    <div class="col-md-7 col-xs-6 col-md-offset-1">
      <h1><em>Shops</em>
        <p class="lead">Get your cut today.</p>
      </h1>
    </div>
    <br>
    <div class="shop-feature col-md-2">
        <a href="#/shops/new"><button class="btn btn-default">Feature your shop</button></a>
    </div>

  </div>


  <div class="row landing-level-three col-md-12">
    <br><br><br>
    <div class="shops-composite col-md-6 col-xs-6">
      <div class="no-response-filler">
        <span class="no-shops">Sorry! No matches were found. Please try another search.</span>
      </div>

    </div>
    <div class="map-container col-md-6 col-xs-6">
      <div class="map"></div>
    <div>
  </div>
</div>
