<div class="shops-index col-md-4 col-md-offset-7">
  <div class="loader"></div>
    <div class="no-response-filler">

      <span class="no-shops">Sorry! No matches were found.<br> Please try another search.</span>
    </div>
</div>
