<div class="container-fluid level-two">
  <div class="row feed-header">
    <div class="col-md-7 col-xs-6 col-md-offset-1">
      <h1><em><%= shop.escape('name') %></em>
        <p class="lead"><div class="rating" data-path="assets/images"></div></p>
      </h1>
    </div>
    <div class="shop-feature col-md-2">
    <br>
        <a href="#/shops/<%= shop.escape('id') %>/review"><button class="btn btn-default">WRITE A REVIEW</button></a>
    </div>
  </div>
  <br><br><br>

  <div class="row">
    <div class="barber-carousel col-xs-12 col-md-6 col-offset-3">
      <div class="shop-barber-slider">
        <ul>
            <li>This is a slide.</li>
            <li>This is another slide.</li>
            <li>This is a final slide.</li>
        </ul>
      </div>
    </div>
  </div>

  <div class="row level-three">
    <div class="reviews-index col-xs-4 col-xs-offset-2 col-md-4 col-md-offset-3"></div>
  </div>
</div>
