<div class="container-fluid level-two">
  <div class="row feed-header">
    <div class="col-md-7 col-xs-6 col-md-offset-1">
      <h1><em><%= shop.escape('name') %></em>
        <p class="lead"><div class="rating" data-path="assets/images"></div></p>
      </h1>
    </div>
    <div class="shop-feature col-md-2">
    <br>
        <a href="#/shops/<%= shop.escape('id') %>/review"><button class="btn btn-default">WRITE A REVIEW</button></a>
    </div>
  </div>
  <br><br><br>

  <div class="row level-three">
    <div class="shops-composite col-md-4 col-md-offset-2"></div>
    <br><br><br><br><br><br>
    <div class="map col-md-4 col-xs-6 col-md-offset-2"></div>
  </div>
</div>
