<div class="container-fluid level-two">
  <div class="row feed-header">
    <div class="col-md-7 col-xs-6 col-md-offset-1">
      <h1><em><%= shop.escape('name') %></em>
        <p class="lead"><div class="rating" data-path="assets/images"></div></p>
      </h1>
    </div>
    <div class="shop-feature col-md-2">
    <br>
        <a href="#/shops/<%= shop.escape('id') %>/review"><button class="btn btn-default">WRITE A REVIEW</button></a>
    </div>
  </div>
  <br><br><br>

  <div class="row shop-barbers-photos">
    <div class="col-xs-9 col-md-6 col-md-offset-3">
      <% barbers.each(function(barber) { %>
        <div class="barber-photo col-xs-3 col-md-4"><img src="<%= barber.escape('photo_url') %>"></div>
      <% }); %>

    </div>
  </div>

  <div class="row level-three">
    <div class="reviews-index col-xs-8 col-xs-offset-2 col-md-4 col-md-offset-4"></div>
  </div>
</div>
