<!-- <form class="navbar-form"> -->
  <div class="input-group">
    <span class="input-group-addon">Find</span>
    <input type="text" class="form-control" name="des" placeholder="fade, keratin treatment, shaves" id="find-by">
  </div>
  <div class="input-group">
    <span class="input-group-addon">NEAR</span>
    <input type="text" class="form-control" name="loc" value="san francisco" id="srch-term">
  </div>
  <input class="btn btn-default query-submit" type="submit"><i class="glyphicon glyphicon-search"></i>
<!-- </form> -->
