 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.fullPage.scss
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-tagsinput.css";
@import "barber_show.scss";
@import "bigbox.css";
@font-face {
       font-family: "Bodoni72";
       src: font-url('BodoniSvtyTwoITCTT-Book.ttf') format("truetype");
       font-weight: normal;
       font-style: normal;
}
//////////////////////////////////////////////////////////////////
/* Welcome Page */

#section1{
  background-color: black;
}
#section2 {
  background: rgba(100, 19, 19, 0.952941);
}

.main-fp-wrapper {
  .default-top-s1 {
    text-align: center;
    .logo-container {
      img {
        background-size: 100%;
        height: 60%;
        min-height: 450px;
        color: white;
      }
    }
    span {
      font-size: 40px;
      letter-spacing: .3em;
      margin-left: 1%;
      color: aliceblue;
      text-decoration: overline;
      font-style: italic;
      .arrow{
      }
    }
    .arrow {
      font-size: 40px;
      color: rgb(157, 7, 35);
    }
  }
}
.s2-container {
  background: rgba(100, 19, 19, 0);
  font-family: 'fira-sans-2';
  border-radius: 0;
  text-align: right;
  margin-top: -15%;
  font-size: 20px;
  margin-right: 42%;
  span {
    color: aliceblue;
    .emphasis {
      color: black;
      font-weight: bold;
      letter-spacing: .3em;
    }
  }
}
.hipster-grabbers {
  width: 700px;
  margin: auto;
  input[type="text"] {
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    width: auto;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
  }
  .input > input {
    width: 600px;
    font-size: 80px;
    color: black;
    border-bottom: 10px solid black;
    margin-left: -2%;
    font-family: 'fira-sans-2';
    text-align: -webkit-center;
  }
  .input > input:focus {
    color: blue;
    border-color: black;
  }
  .input > label {
    display: block;
    padding: 10px 0;
    font-weight: bold;
  }
}

.entry-container {
  margin-left: 41%;
  a {
    text-decoration: none;
    .entry-point {
      font-size: 40px;
      color: aliceblue;
      letter-spacing: .5em;
        &:hover {
          cursor: crosshair;
          text-decoration: none;
        }
      }
    }
}







//////////////////////////////////////////////////////////////////
// Clearfix

.group:after {
  content: "";
  display: block;
  clear: both;
}

html, body, .first-level, .level-two, .landing-level-three, .map-container, .map, #map-canvas {
  height: 100%;
  margin: 0;
  padding: 0;
}

.map-container {
  width: 40%;
  height: 72vh;
  .map {
    #map-canvas{
      opacity: .8;
    }
  }
}
html, body {
  font-family: 'Oswald', sans-serif;
}

//////////////////////////////////////////////////////////////////
/* Map info window */

.minfo {
  .minfo-name{
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 20px;
    color: crimson;
  }
}



//////////////////////////////////////////////////////////////////
/*  Nav bar*/
nav.navbar {
  width: 100%;
  background-color: black;
  color: white;
  font-style: italic;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: -1px;
  label {
    // font-style: normal;
    font: "Arial";
    color: #777;
    letter-spacing: -1px;
  }
  form {
    text-align: center;
  }
  img {
    padding-top: 4px;
    padding-bottom: 3px;
    height: auto;
    width: 50px;
    .navbar-brand {
      height: 50px;

    }
  }
}


.nav-search {
  margin-left: 10%;
}

//////////////////////////////////////////////////////////////////
/* User Account */
//
.row.header {
  background: rgba(100, 19, 19, 0.95);
  margin-top: 100px;
  .back {
    font-size: 30px;
    a {
      text-decoration: none;
      color: black;
    }
  }
  .user-account-information {
    font-family: "fira-sans-2";
    display: inline-block;
    text-align: center;
    margin-top: 10%;
    color: aliceblue;
    .user-username {
      font-size: 40px;
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;
      text-decoration: underline;
    }
    .user-email {
      font-size: 20px;
      font-weight: 400;
    }
    .user-avatar-container {
      img {
        height: 200px;
      }
    }
    .account-buttons {
      text-align: center;
      font-size: 30px;
      span {
        margin-right: 20px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .managed-shops {
    display: inline-block;
    height: 600px;
    overflow: scroll;
    .no-response-filler {
      margin-top: 50%;
      font-size: 30px;
    }
  }
}





//////////////////////////////////////////////////////////////////
/* Error Container */
div.errors-container {
  font-family: "fira-sans-2", sans-serif;

}


//////////////////////////////////////////////////////////////////
/*  new session */
.session-page {
  background-image: url(https://dl.dropbox.com/s/02r6ccf0836l7v8/nice_shop.jpg);
  height: 100%;
  .session-container {
      background-color: rgba(0, 139, 139, 0.5);
    text-align: center;
    margin-left: 35%;
    color: aliceblue;
    margin-top: 13%;
    .errors-container{
        text-align: center;
        font-family: "oswald";
        font-weight: bold;
      color: black;
    }
    .form-control {
      text-align: center;
    }
    .session-buttons {
      text-align: center;
      .guest-login {
        padding: 5px;
        border-style: solid;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .session-register{
      text-align: center;
      a {
        color: crimson;
        text-decoration: none;
      }
    }
  }

}

.signup {
  background-image: url(https://res.cloudinary.com/mycut/image/upload/v1435206124/misc/silver3.jpg);
  .si-input {
    width: 60%;
  }
}

label.si-input {
  width: 70%;
}


//////////////////////////////////////////////////////////////////

/* Feed show - Landing page */
shop-items-index {
  background-color: #ebb3bd;
  opacity: 1;
}
.feed-header {
  color: rgb(202, 217, 231);
  width: 100%;
  background-color: rgba(#008B8B, .5);
  h1 {
    color: seashell;
  }
}


div.shops-index {
  height: 72vh;
  overflow-y: scroll;
  background-color: rgba(144, 65, 65, 0.8);
  h3 {
    color: snow;
    font-weight: 100;
    letter-spacing: 1.5px;
  }
  .shop-item a  {
    text-decoration: none;
    background-color: rgba(#008B8B, .5);
    &:hover {
      background-color: seashell;
    }
  }
}

div.shop-feature {
  float: right;
  &button:hover {
    background-color: #8C5233;
  }
}

div.shop-photo {
  float: left;
  img.resize {
    height: 90px;
    width: 90px;
    border-radius: 25px;
    margin: 10px;
  }
}

div#map-canvas.col-md-offset-4 {
  position: relative;
  overflow: hidden;
  transform: translateZ(0px);
  background-color: rgba(229, 227, 223, .5);
  opacity: .85;
  border-radius: 2px;
}

.server-form {
  width: 250px;
  .form-control {
    width: 75%;
  }
}


div#map-canvas.circular.col-md-offset-4 {
	width: 90%;
	height: 90%;
	border-radius: 90%;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
}

//////////////////////////////////////////////////////////////////
/* New Review */

.preview-collection {
  margin-left: 10%;
  li {
    display: inline-block;
    list-style: none;
    .port-image-container {
      img {
        height: 120px;
      }
    }
  }
}


//////////////////////////////////////////////////////////////////
/* New Shop */

div.col-md-offset-4.col-xs-offset-3.col-xs-6.col-md-4 {
background-color: rgba(0, 139, 139, 0.5);
text-align: center;
  border-radius: 30px;
  color: white;
  letter-spacing: 3px;
  form {
    text-align: center;
  }
  button.shop-form {
    padding: 6px 40px;
  }
  a button.confirm {
    background-color: crimson;
    opacity: 1;
    margin-bottom: 6px;
  }
}

::-webkit-input-placeholder {
   color: #808080;
   text-align: center;
   text-transform: uppercase;
   font-style: italic;

}

div.panel.panel-default.new-signup-form {
  opacity: 0.9;
  margin-top:30px;
  .form-group.last {
    margin-bottom:0px;
  }
}

input.form-control.new-shop-input {
  border-width: 0;
  text-align: center;
  color: black;
}

input#new-shop-name.form-control {
  background: maroon;

}
label {
  font-weight: 100;
}
i.fa-picture-o {
  font-size: 30px;
  &:hover {
    cursor: pointer;
  }
}

.preview-container-user {
  img {
    height: 120px;
  }
}
.preview-container {
  text-align: center;
  .fa-picture-o {
    font-size: 30px;
  }
  .preview {
    list-style: none;
    display: inline-block;
    img {
      width: 300px;
      border-radius: 25px;
      margin-left: -12%;
    }
  }
}

//////////////////////////////////////////////////////////////////
/* Adding Barbers */

.shop-barbers-edit {
  background-color: rgba(0, 139, 139, 0.5);
  .buttons-divider {
    margin-right: 40px;
    .barber-control-buttons {
      float: right;
      .fa {
        color: aliceblue;
      }
      span {
        padding: 5px;
        font-size: 40px;
        &:hover {
          cursor: pointer;

        }
      }
    }
  }

  .barber-photos {
    margin: 50px auto;
    display: inline-block;
    .empty-shop {
      margin-left: 500px;
      font-size: 40px;
      color: aliceblue;
      span {
        margin-left: 40px;
      }
    }
    li {
      float: left;
      border-style: solid;
      border-width: 5px;
      text-align: center;
      list-style: none;
      height: 300px;
      width: 230px;
      margin: 10px 10px;

      div.barber-container {
        span {
          text-transform: uppercase;
          font-size: 20px;
          font-family: 'fira-sans-2';
          margin-bottom: 10px;
          font-weight: 300px;
        }
        div.barber-profile-crop {
          // overflow: hidden;
          height: 200px;
          overflow: hidden;
          img.shop-barber-photo {
            object-fit: contain;
            margin: 10px 10px 0px 10px;
            // height: 100%;
            height: 200px;
          }
        }
        a {
          text-decoration: none;
        }
      }
    }
    li.barber-list-item{
      background-color: rgb(228, 233, 236);

    }
  }

  .selected {
    border-color: maroon;
  }
  .barber-container {
    .select-box {
      float: left;
      margin: 5px -20px 0px 10px;
    }
    span {
      text-transform: uppercase;
      font-family: 'fira-sans-2';
    }


  }

}
.port-container.barber-portfolio-form {
  overflow: scroll;
  .title {
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;
    color: aliceblue;
    letter-spacing: .2em;
  }
  .barber-portfolio-collection {
    text-align: center;
    margin-left: -40px;
    .portfolio-collection-item {
      display: inline-block;
      list-style: none;
      .port-image-container {
        width: 200px;
        height: 200px;
        overflow: hidden;
        img {
          object-fit: contain;
          max-height: 200px;
        }
      }
    }

  }
}




//////////////////////////////////////////////////////////////////
/*  Forms   */
.modal-form {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, .5);

  .cancel-button {
    float: right;
    font-size: 20px;
    padding: 5px;
    margin-top: -15px;
    margin-right: -6px;
    &:hover {
      cursor: pointer;
    }
  }
  .form-group {
    input {
      text-align: center;
    }
  }

  .title {
    text-align: center;
    font-size: 40px;
    clear: right;
    text-indent: 10px;
    .modal-title {
      text-decoration: underline;
    }
  }

  .form-buttons {
    font-family: 'Oswald';
    font-style: italic;
    font-weight: lighter;
  }

  .form-container {
    top: 50%; // Level from which margin-top starts.
              // downwards, if pos margin; upwards, if negative.
    left: 50%;
    position: absolute;
    background: rgba(0, 139, 139, .8);
    padding: 15px;
    width: 450px;
    margin-top: -173px;
    margin-left: -250px;
    .form-group {
      label {
        font-size: 30px;
        font-style: italic;
        .modal-form-category {
          border-style: double;
          padding: 0px 10px 0px 5px;
        }
      }
      .upload-button {
        .fa-plus {
          font-size: 30px;
          padding: 10px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .port-container {
    background: rgba(100, 19, 19, 0.95);
    padding: 15px;
    width: 80%;
    height: 85vh;
    margin: 100px auto;
  }

  .barber-create-form{
    margin-top: -300px;
    span {
      &:hover {
        cursor: pointer;
      }
    }
  }





}




//////////////////////////////////////////////////////////////////
/* Shop Show */

col-xs-9.col-md-6.col-md-offset-3 {
  float: right;
}

.shop-barbers-photos {
  text-align: center;
  .col-xs-8.col-xs-offset-2.col-md-9.col-md-offset-3 {
    height
     .barber-photo.col-xs-6.col-md-4 {
      width: 250px;
      height: 100%;
      display: inline-block;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}


div.container-fluid.level-two {
  height: 200px;
}

.shop-mod-buttons {
  padding: 10px;
  border-style: double;
  margin-left: 10px;
  text-decoration: none;
  background-color: aliceblue;
}

.feed-header {
  .shop-loc {
    position: absolute;
margin-left: 25%;
font-family: "Oswald";
font-size: 16px;
  }
  .shop-feature {
    text-align: center;
    div {
      display: inline-block;
    }
  }
}


.barber-photo {
  height: 300px;
  .barber-profile {
    width: auto;
    height: 70%;
    margin: 10px;
    object-fit: contain;
  // was 150px for circular view

  }
}

//////////////////////////////////////////////////////////////////
/* Review Item */

.level-three {
  width: 55%;
    float: left;
    margin-right: -100px;
    margin-top: -60px;
  .reviews-index {
    clear: both;
    max-width: 80%;
    margin: 100px 5px 0px 30px;
    .review-items {
      max-width: 100%;
      list-style: none;
      padding: 20px;
      background: rgba(100, 19, 19, 0.8);
      color: white;
      font-family: "Arial", sans-serif;
      letter-spacing: .8px;
      height: 65vh;
      overflow-y: scroll;
      .review-item {
        .review-with-side{
          .review-userprofile{
            .review-username-container {
              text-align: center;
              text-transform: uppercase;
              .review-username {
                color: #AD154f;
                border-bottom: aliceblue;
                border-bottom-style: inset;
                letter-spacing: 2px;
              }
              .barber-review-rating {
                text-transform: uppercase;
                font-family: "Oswald", sans-serif;
                letter-spacing: 2px;
                font-style: italic;
                font-weight: 100;
                color: cadetblue;
                .barber-name {
                  color:       royalblue;
                  font-weight: 900;
                  font-size: 18px;
                }
              }
            }
            .author-photo {
              .user-avatar.circular {
                float: left;
                margin-right: 20px;
                margin-right: 60px;
                width: 100px;
                height: 100px;
                border-radius: 150px;
                -webkit-border-radius: 150px;
                -moz-border-radius: 150px;
              }
            }
          }
        }
      }
    }
  }
}
.side-container {
  text-align: center;
  margin-top: -50px;
  .sidebar-header {
    margin-top: 60px;
    span{
      margin-left: 5%;
      font-family: 'fira-sans-2';
      font-weight: 600;
      font-style: italic;
      font-size: 30px;
      color: rgb(171, 9, 71);
    }
    .side-column{
      overflow: auto;
      display: inline;
    }
  }
}

ul.barber-container {
  background-color: rgba(240, 248, 255, .8);
  overflow-y: scroll;
  height: 61.5vh;
  li.barber-photo {
    list-style: none;
    display: inline-block;
    a {
      text-decoration: none;
    }
    &:hover {
      border-style: double;
    }
  }
}
div.review-content {
  display: flex;
  font-family: "fira-sans-2", "hair";

}


div.review-userprofile {
  padding: 8px;
}

div.review-body {
  padding: 8px;
}

.barber-name {
  font-family: 'fira-sans-2';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 40px;
}


.review-photos-container {
  margin-left: 22%;
  .photo-container {
    list-style: none;
    display: inline-block;
    .review-photo {
      img {
        // border-radius: 60px;
        // max-height: 30vh;
        height: 150px
      }
    }
  }
}
