 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.fullPage.scss
 *= require_tree .
 *= require_self
 */
#main {
  height: 95%;
}

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-tagsinput.css";
@import "barber_show.scss";
@import "bigbox.css";
@font-face {
       font-family: "ProximaNova-Thin";
       src: url('https://dl.dropboxusercontent.com/s/xbt0u83jiousmp7/ProximaNova-Thin.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: "ProximaNova-Light";
       src: url('https://dl.dropboxusercontent.com/s/2i2se49lvui74db/ProximaNova-Light.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: "ProximaNova-Regular";
       src: url('https://dl.dropboxusercontent.com/s/jmqlir0gdc6qhoi/ProximaNova-Reg.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: "ProximaNova-Semibold";
       src: url('https://dl.dropboxusercontent.com/s/6l0u7tf5g2iofu7/ProximaNova-Semibold.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: "ProximaNova-Bold";
       src: url('https://dl.dropboxusercontent.com/s/zuntunlk4igjxzf/ProximaNova-Bold.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: "ProximaNova-Extrabold";
       src: url('https://dl.dropboxusercontent.com/s/r10bnc45r87fnbx/ProximaNova-Extrabold.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}
//////////////////////////////////////////////////////////////////
/* Welcome Page */

#section1{
  background-color: black;
}
#section2 {
  background: rgba(100, 19, 19, 0.952941);
}

.main-fp-wrapper {
  .default-top-s1 {
    text-align: center;
    .logo-container {
      img {
        background-size: 100%;
        height: 60%;
        min-height: 450px;
        color: white;
      }
    }
    span {
      font-size: 40px;
      letter-spacing: .3em;
      margin-left: 1%;
      color: aliceblue;
      text-decoration: overline;
      font-style: italic;
      .arrow{
      }
    }
    .arrow {
      font-size: 40px;
      color: rgb(157, 7, 35);
    }
  }
}
.s2-container {
  background: rgba(100, 19, 19, 0);
  font-family: 'ProximaNova-Regular';
  border-radius: 0;
  text-align: right;
  margin-top: -15%;
  font-size: 20px;
  margin-right: 42%;
  span {
    color: aliceblue;
    .emphasis {
      color: black;
      font-weight: bold;
      letter-spacing: .3em;
    }
  }
}
.hipster-grabbers {
  width: 700px;
  margin: auto;
  input[type="text"] {
    -webkit-appearance: none;
    display: inline-block;
    box-sizing: content-box;
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    width: auto;
    font: inherit;
    vertical-align: baseline;
    background: transparent;
    color: inherit;
  }
  .input > input {
    width: 600px;
    font-size: 80px;
    color: black;
    border-bottom: 10px solid black;
    margin-left: -2%;
    font-family: 'ProximaNova-Regular';
    text-align: -webkit-center;
  }
  .input > input:focus {
    color: blue;
    border-color: black;
  }
  .input > label {
    display: block;
    padding: 10px 0;
    font-weight: bold;
  }
}

.entry-container {
  margin-left: 41%;
  a {
    text-decoration: none;
    .entry-point {
      font-size: 40px;
      color: aliceblue;
      letter-spacing: .5em;
        &:hover {
          cursor: crosshair;
          text-decoration: none;
        }
      }
    }
}


.no-access {
  text-align: center;
  margin-top: 20%;
  font-size: 40px;
  color: white;
  background-color: red;
}



//////////////////////////////////////////////////////////////////
// Clearfix
.clearfix:after {
   visibility: hidden;
   display: block;
   font-size: 0;
   content: " ";
   clear: both;
   height: 0;
}
.map-container {
}

#map-canvas {

}

.map-container {
  width: 100%;
  margin: 0;
  padding: 0;
  height: 100vh;
  .map {
    #map-canvas{
      position: fixed;
      top: 0;
      bottom: 0;
      width: 100%;
    }
  }
}
html, body {
  font-family: 'ProximaNova-Thin';
  height: 100%;
}

a {
  text-decoration: none;
  color: black;
  &:hover {
    color: black;
  }
}


//////////////////////////////////////////////////////////////////
/* Map info window */

.minfo {
  font-family: "ProximaNova-Thin";
  .minfo-name{
    text-decoration: underline;
    text-transform: uppercase;
    font-size: 20px;
    color: crimson;
    a {
      text-decoration: none;
      color: black;
    }
  }
}



//////////////////////////////////////////////////////////////////
/*  Nav bar*/
nav.navbar {
  color: white;
  font-style: italic;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: -1px;
  margin-bottom: 0;
  label {
    // font-style: normal;
    font: "Arial";
    color: #777;
    letter-spacing: -1px;
  }
  form {
    text-align: webkit-center;
  }
  img {
    padding-top: 4px;
    padding-bottom: 3px;
    height: auto;
    width: 50px;
    .navbar-brand {
      height: 50px;

    }
  }
  .navbar-header {
    padding-left: 10px;
    background-color: black;
  }
  .navbar-collapse {
    padding-right: 30px;
    background-color: black;
  }
  .container-fluid {
    margin-bottom: -150px;
    .feed-header {
      height: 110px;
    }
  }
}


.nav-search {
  // margin-left: 10%;
  text-align: center;
  margin-left: 16%;
  .navbar-form {
    float: right;
      font-family: "ProximaNova-Semibold";
  }

}


.navbar-inverse {
  background: black;
  border-color: rgba(0,0,0,0);
}

.dropdown {
  a {
    &:hover {
      background-color: black;
    }
    &:focus {
      background-color: black;
    }
  }
}

a.dropdown-toggle {
  color: white;
  background-color: black;
  &:hover {
    background-color: black;
  }
}
nav > li > a:hover, .nav > li > a:focus {
  background-color: black;
}
.nav .open > a, .nav .open > a:hover, .nav .open > a:focus {
  background-color: black;
}

//////////////////////////////////////////////////////////////////
/* User Account */
//
.row.header {
  background: rgba(100, 19, 19, 0.95);
  margin-top: 100px;
  .back {
    font-size: 30px;
    a {
      text-decoration: none;
      color: black;
    }
  }
  .user-account-information {
    font-family: "ProximaNova-Regular";
    display: inline-block;
    text-align: center;
    margin-top: 10%;
    color: aliceblue;
    .user-username {
      font-size: 40px;
      font-weight: 700;
      font-style: italic;
      text-transform: uppercase;
      text-decoration: underline;
    }
    .user-email {
      font-size: 20px;
      font-weight: 400;
    }
    .user-avatar-container {
      img {
        height: 200px;
      }
    }
    .account-buttons {
      text-align: center;
      font-size: 30px;
      span {
        margin-right: 20px;
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
  .managed-shops {
    display: inline-block;
    height: 600px;
    overflow: scroll;
    .no-response-filler {
      margin-top: 50%;
      color: black;
      font-size: 30px;
    }
  }
}





//////////////////////////////////////////////////////////////////
/* Error Container */
div.errors-container {
  font-family: "ProximaNova-Regular", sans-serif;

}


//////////////////////////////////////////////////////////////////
/*  new session */
.session-page {
  background-image: url(https://dl.dropboxusercontent.com/s/u0g6entuipw2o2l/tatted_barber.jpg);
  height: 100%;
  .session-container {
      background-color: rgba(0, 139, 139, 0.7);
    text-align: center;
    margin-left: 35%;
    color: aliceblue;
    margin-top: 13%;
    .errors-container{
        text-align: center;
        font-family: "ProximaNova-Thin";
        font-weight: bold;
      color: black;
      margin-left: -4%;
    }
    label {
      letter-spacing: .2em;
    }
    .form-control {
      text-align: center;
    }
    .session-buttons {
      text-align: center;
      .guest-login {
        padding: 5px;
        border-style: solid;
        &:hover {
          cursor: pointer;
        }
      }
    }
    .session-register{
      text-align: center;
      a {
        color: black;
        text-decoration: none;
      }
    }
  }

}

.signup {
  background-image: url(https://dl.dropboxusercontent.com/s/u0g6entuipw2o2l/tatted_barber.jpg);
  a {
    text-decoration: none;
    &:hover {
      font-size: 20px;
    }
  }
  .si-input {
    width: 60%;
  }
}

label.si-input {
  width: 70%;
}


//////////////////////////////////////////////////////////////////

/* Feed show - Landing page */
shop-items-index {
  background-color: #ebb3bd;
  opacity: 1;
}
.feed-header {
  color: rgb(202, 217, 231);
  background-color: rgba(128, 0, 0, 0.85);
  font-family: "ProximaNova-Thin";
  font-size: larger;

  h1 {
    color: white;
    em {
      font-size: 50px;
    }
  }
}

.first-level {
  position: relative;
  .map-container {
    position: absolute;
  }
}

div.shops-index {
  position: absolute;
  border-radius: 10px;
  padding-top: 10px;
  height: 66vh;
  overflow-y: scroll;
  background-color: rgba(255, 255, 255, 0.71);
  .no-response-filler {
    margin-top: 40%;
    margin-left: 15%;
    font-size: 30px;
    color: black;
  }
  h3 {
    color: black;
    font-weight: bolder;
    font-family: "ProximaNova-Thin";
      font-size: 18px;
  }
  .shop-item, a {
    text-decoration: none;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;

    .review.rating {
      margin-top: -2%;
      div {
        color: black;
      }
      span {
        color: black;
      }
    }
    .tag_list {
      font-size: 11px;
      text-transform: uppercase;
      color: white;
      span {
        color: black;
        font-family: "ProximaNova-Bold";
        letter-spacing: .1em;
      }

    }
  }
}
.review-new {
  label.radio-inline {
    color: white;
  }
}

.shop-item, a {
  &:hover {
    .tag_list {
      overflow: visible;
      white-space: pre-wrap;
      clear: both;
      margin-bottom: -2%;
    }
  }
}

div.shop-feature {
  float: right;
  margin-top: 1%;
  &button:hover {
    background-color: #8C5233;
  }
}

div.shop-photo {
  float: left;
  img.resize {
    height: 90px;
    width: 90px;
    border-radius: 25px;
    margin: 10px;
  }
}
//
// div#map-canvas.col-md-offset-4 {
//   position: relative;
//   overflow: hidden;
//   transform: translateZ(0px);
//   background-color: rgba(229, 227, 223, .5);
//   opacity: .85;
//   border-radius: 2px;
// }

.server-form {
  width: 250px;
  .form-control {
    width: 75%;
  }
}

//
// div#map-canvas.circular.col-md-offset-4 {
// 	width: 90%;
// 	height: 90%;
// 	border-radius: 90%;
// 	-webkit-border-radius: 150px;
// 	-moz-border-radius: 150px;
// }

//////////////////////////////////////////////////////////////////
/* New Review */

.preview-collection {
  margin-left: 10%;
  li {
    display: inline-block;
    list-style: none;
    .port-image-container {
      img {
        height: 120px;
      }
    }
  }
}


//////////////////////////////////////////////////////////////////
/* New Shop */

div.col-md-offset-4.col-xs-offset-3.col-xs-6.col-md-4 {
background-color: rgba(0, 0, 0, 0.6);
text-align: center;
  border-radius: 30px;
  color: white;
  letter-spacing: 3px;
  form {
    text-align: center;
  }
  button.shop-form {
    padding: 6px 40px;
  }
  a button.confirm {
    background-color: crimson;
    opacity: 1;
    margin-bottom: 6px;
  }
  .cancel {
    padding: 10px;
    color: white;
    background-color: rgba(207, 0, 15,.5);
    &:hover {
      text-decoration: none;
    }
  }
  .confirm {
    border: none;
    background-color: rgba(101, 198, 187,.5);
    font-family: "proximanova-thin";
    letter-spacing: 3px;
    text-transform: uppercase;
    padding: 8px;
    padding-left: 12px;
  }
}

::-webkit-input-placeholder {
   color: #808080;
   text-align: center;
   text-transform: uppercase;
   font-style: italic;

}

div.panel.panel-default.new-signup-form {
  opacity: 0.9;
  margin-top:30px;
  .form-group.last {
    margin-bottom:0px;
  }
}

input.form-control.new-shop-input {
  font-family: "proximanova-regular";
  border-width: 0;
  text-align: center;
  color: black;
}

input#new-shop-name.form-control {
  background: maroon;

}
label {
  font-weight: 100;
}
i.fa-picture-o {
  font-size: 30px;
  &:hover {
    cursor: pointer;
  }
}

.preview-container-user {
  img {
    height: 120px;
  }
}
.preview-container {
  text-align: center;
  .fa-picture-o {
    font-size: 30px;
  }
  .preview {
    list-style: none;
    display: inline-block;
    img {
      width: 300px;
      border-radius: 25px;
      margin-left: -12%;
    }
  }
}

//////////////////////////////////////////////////////////////////
/* Adding Barbers */

.shop-barbers-edit {
  background-color: rgba(0, 139, 139, 0.5);
  .buttons-divider {
    margin-right: 40px;
    .barber-control-buttons {
      float: right;
      .fa {
        color: aliceblue;
      }
      span {
        padding: 5px;
        font-size: 40px;
        &:hover {
          cursor: pointer;

        }
      }
    }
  }

  .barber-photos {
    margin: 50px auto;
    display: inline-block;
    .empty-shop {
      margin-left: 500px;
      font-size: 40px;
      color: aliceblue;
      span {
        margin-left: 40px;
      }
    }
    li {
      float: left;
      border-style: solid;
      border-width: 5px;
      text-align: center;
      list-style: none;
      height: 300px;
      width: 230px;
      margin: 10px 10px;

      div.barber-container {
        span {
          text-transform: uppercase;
          font-size: 20px;
          font-family: 'ProximaNova-Regular';
          margin-bottom: 10px;
          font-weight: 300px;
        }
        div.barber-profile-crop {
          // overflow: hidden;
          height: 200px;
          overflow: hidden;
          img.shop-barber-photo {
            object-fit: contain;
            margin: 10px 10px 0px 10px;
            // height: 100%;
            height: 200px;
          }
        }
        a {
          text-decoration: none;
        }
      }
    }
    li.barber-list-item{
      margin-left: 4%;
      margin-right: 4%;
      background-color: rgb(228, 233, 236);

    }
  }

  .selected {
    border-color: maroon;
  }
  .barber-container {
    .select-box {
      float: left;
      margin: 5px -20px 0px 10px;
    }
    span {
      text-transform: uppercase;
      font-family: 'ProximaNova-Regular';
    }


  }

}
.port-container.barber-portfolio-form {
  overflow: scroll;
  .title {
    text-transform: uppercase;
    font-style: italic;
    text-decoration: underline;
    color: aliceblue;
    letter-spacing: .2em;
  }
  .barber-portfolio-collection {
    text-align: center;
    margin-left: -40px;
    .portfolio-collection-item {
      display: inline-block;
      list-style: none;
      .port-image-container {
        width: 200px;
        height: 200px;
        overflow: hidden;
        img {
          object-fit: contain;
          max-height: 200px;
        }
      }
    }

  }
}




//////////////////////////////////////////////////////////////////
/*  Forms   */
.modal-form {
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 3;
  background: rgba(0, 0, 0, .5);

  .user-delete {
    color: white;
    span {
      font-size: 14px;
      color: white;
      .warning {
        color: crimson;
        text-transform: uppercase;
        font-weight: bold;

      }
    }
    .options {
      .cancel-delete{
        &:hover {
          background-color: gray;
        }
      }
      .confirm-delete {
        &:hover {
          background-color: crimson;
        }
      }
      span {
        border-color: black;
        border-style: solid;
        padding: 5px;
      }
    }
    .password-req {
      font-size: 14px;
      font-style: italic;
    }
  }
  .cancel-button {
    float: right;
    font-size: 20px;
    padding: 5px;
    margin-top: -15px;
    margin-right: -6px;
    &:hover {
      cursor: pointer;
    }
  }
  .form-group {
    input {
      text-align: center;
    }
  }

  .title {
    text-align: center;
    font-size: 40px;
    clear: right;
    text-indent: 10px;
    .modal-title {
      text-decoration: underline;
    }
  }

  .form-buttons {
    font-family: 'ProximaNova-Regular';
    font-style: italic;
    font-weight: lighter;
  }

  .form-container {
    top: 50%; // Level from which margin-top starts.
              // downwards, if pos margin; upwards, if negative.
    left: 50%;
    position: absolute;
    background: rgba(0, 0,0, .7);
    padding: 15px;
    width: 450px;
    margin-top: -173px;
    margin-left: -250px;
    .form-group {
      label {
        color: white;
        font-size: 25px;
        letter-spacing: 3px;
        .form-control {
          border: none;
          background-color: white;
          border-radius: 2px;
        }
        .modal-form-category {
          border-style: double;
          padding: 0px 10px 0px 5px;
        }
      }
      .submit-edit {

      }
      .upload-button {
        .fa-plus {
          font-size: 30px;
          padding: 10px;
          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }

  .port-container {
    background: rgba(100, 19, 19, 0.95);
    padding: 15px;
    width: 80%;
    height: 85vh;
    margin: 100px auto;
  }

  .barber-create-form{
    margin-top: -300px;
    span {
      &:hover {
        cursor: pointer;
      }
    }
  }
  .user-edit-form {
    margin-top: -350px;
    .submit-edit {
      border-style: none;
      background-color: rgba(101, 198, 187, .6);
      border-radius: 2px;
      padding: 5px;
      margin-bottom: -17%;
      color: white;
      letter-spacing: 2px;
      font-size: 20px;

    }
    .cancel-edit {
      font-size: 25px;
  color: white;
  background-color: rgba(207, 0, 15, .6);
  padding: 5px;
  border-radius: 3px;
      &:hover {
        cursor: pointer;
      }
    }
  }





}




//////////////////////////////////////////////////////////////////
/* Shop Show */
.shop-view {
  height: 100%;
}
.shop-sidebar {
  height: 100%;
  -webkit-transition:all .5s;
  display: inline-block;
  width: 375px;
  color: white;
  // background-color: rgba(0,0,0,.65);
  background: linear-gradient(to bottom, rgba(0,0,0,0.65) 0%,rgba(0,0,0,0) 250%);
  .shop-barbers {
    .fa-caret-down {
      float: left;
    }
    .barber-container1 {
      .barber-info {
        list-style: none;
        &:hover {
          span {
            font-size: 14px;
            -webkit-transition: all .2s;
          }
        }
        span {
          font-size: 12px;
        }
      }
    }
  }
  .shop-info {
    font-family: "ProximaNova-Regular";
     text-align: right;
     font-style: normal;
     letter-spacing: 1px;
     margin: 0 10%;
  }
  .shop-photo {
    width: 100%;
    img {
      width: 50%;
      border-radius: 5px;
      margin-bottom: 5%;
        float: right;
        margin-right: 10%;

    }
  }
  .shop-features {
    // color: rgba(100, 19, 19, 0.87);
    margin: 0 15%;
    text-align: right;
    .shop-barbers {
      margin: 0 -4%;
      .barber-container1{
        -webkit-transition: all 1s;
      }
    }
    hr {

    }
  }
  .shop-buttons {
    font-family: "ProximaNova-Semibold";
    -webkit-transition: all .8s;
    cursor: pointer;

    padding: 10px;
    a {
      font-family: "ProximaNova-Semibold";
      color: white;
      &:hover {
        text-decoration: none;
      }
    }
    &:hover {
      -webkit-transition: all .2s;
      font-size: 18px;

    }
  }
  .shop-map-container {
    span {
      cursor: pointer;
    }
    padding: 50px;
    img {
      height: 400px;
    }
  }
  &:hover {
    -webkit-transition:all .5s;
    background-color: rgba(0,0,0,.8);
  }
}

.shop-content {
  float: right;
}



////////

col-xs-9.col-md-6.col-md-offset-3 {
  float: right;
}

.shop-barbers-photos {
  text-align: center;
  .col-xs-8.col-xs-offset-2.col-md-9.col-md-offset-3 {
    height
     .barber-photo.col-xs-6.col-md-4 {
      width: 250px;
      height: 100%;
      display: inline-block;
      img {
        max-width: 100%;
        max-height: 100%;
      }
    }
  }
}



div.container-fluid.level-two {
  height: 200px;
  margin-right: -2%;
}

.shop-mod-buttons {
  padding: 10px;
  border-style: double;
  margin-left: 10px;
  text-decoration: none;
  background-color: aliceblue;
}

.feed-header-shop {
  width: 83%;
  background-color: rgba(128, 0, 0, 0.85);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  margin-top: -1px;
  .shop-banner-left{
    padding-bottom: 10px;
    font-family: 'ProximaNova-Semibold';

    .shop-info-container {
      p {
        color: white;
        font-size: 19px;
        display: inline-block;
      }
      .shop-loc {
        position: absolute;
        display: inline-block;
        margin-left: 5%;

        font-size: 19px;
        margin-top: -1px;
        color: white;

      }
    }
  }

  .shop-feature {
    text-align: center;
    div {
      display: inline-block;
    }
  }
}

.shop-mid {
  .shop-map-container {
    margin-top: 4.5%;
    div {
      margin-right: 18%;
      border-style: 1px;
      border-style: solid;
    }
  }
}

.barber-photo {
  height: 300px;
  .barber-profile {
    width: auto;
    height: 70%;
    margin: 10px;
    object-fit: contain;
  // was 150px for circular view

  }
}

//////////////////////////////////////////////////////////////////
/* Review Item */

.level-three {
    float: left;
    margin-left: -30%;
    margin-right: -100px;
    margin-top: -60px;
  .reviews-index {
    clear: both;
    margin: 100px 5px 0px 30px;
    .review-items {
      max-width: 100%;
      list-style: none;
      padding: 20px;
      background: rgba(0,0,0,.85);
      color: white;
      letter-spacing: .8px;
      height: 79vh;
      overflow-y: scroll;
      .review-item {
        .review-with-side{
          .review-userprofile{
            .review-username-container {
              text-align: center;
              text-transform: uppercase;
              .review-username {
                color: white;
                border-bottom: aliceblue;
                border-bottom-style: inset;
                letter-spacing: 4px;
                font-size: 14px;
              }
              .barber-review-rating {
                text-transform: uppercase;
                font-family: "ProximaNova-Bold";
                letter-spacing: 2px;
                font-weight: 100;
                color: white;
                .barber-name {
                  font-family: "ProximaNova-Bold";
                  font-size: 14px;
                  color: white;
                }
              }
            }
            .author-photo {
              .review-date {
                font-family: "proximanova-regular";
                letter-spacing: 1px;
              }
              .circular {
                margin-top: 15px;
                float: left;
                margin-right: 20px;
                margin-right: 40px;
                width: 100px;
                height: 100px;
                overflow-y: hidden;
                border-radius: 150px;
                -webkit-border-radius: 150px;
                -moz-border-radius: 150px;
                .user-avatar {
                  width: 100px;
                }
              }
            }
          }
        }
      }
    }
  }
}


.side-container {
  text-align: center;
  margin-top: -50px;
  .sidebar-header {
    margin-top: 60px;
    span{
      margin-left: 5%;
      font-family: 'ProximaNova-Regular';
      font-weight: 600;
      font-style: italic;
      font-size: 30px;
      color: rgb(171, 9, 71);
    }
    .side-column{
      overflow: auto;
      display: inline;
    }
  }
}

ul.barber-container {
  background-color: rgba(240, 248, 255, .84);
  overflow-y: scroll;
  height: 61.5vh;
  li.barber-photo {
    list-style: none;
    display: inline-block;
    a {
      text-decoration: none;
    }
    &:hover {
      border-style: double;
    }
  }
}
div.review-content {
  display: flex;
  font-family: "roboto";
  font-size: 13.3px;
  letter-spacing: 1.2px;
  line-height: 159%;
  white-space: pre-wrap;
  font-weight: 100;

}


div.review-userprofile {
  padding: 8px;
}

div.review-body {
  padding: 8px;
}

.barber-name {
  font-family: 'ProximaNova-Regular';
  font-weight: 400;
  text-transform: uppercase;
  font-size: 12px;
  &:hover {

  }
}


.review-photos-container {
  margin-left: 22%;
  .photo-container {
    list-style: none;
    display: inline-block;
    .review-photo {
      img {
        // border-radius: 60px;
        // max-height: 30vh;
        height: 150px
      }
    }
  }
}
