 /*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require jquery.fullPage.scss
 *= require_tree .
 *= require_self
 */
#main {
  height: 95%;
}

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "bootstrap-tagsinput.css";
@import "barber_show.scss";
@import "bigbox.css";
@font-face {
       font-family: "ProximaNova-Thin";
       src: url('https://dl.dropboxusercontent.com/s/xbt0u83jiousmp7/ProximaNova-Thin.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: "ProximaNova-Light";
       src: url('https://dl.dropboxusercontent.com/s/2i2se49lvui74db/ProximaNova-Light.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: "ProximaNova-Regular";
       src: url('https://dl.dropboxusercontent.com/s/jmqlir0gdc6qhoi/ProximaNova-Reg.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: "ProximaNova-Semibold";
       src: url('https://dl.dropboxusercontent.com/s/6l0u7tf5g2iofu7/ProximaNova-Semibold.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: "ProximaNova-Bold";
       src: url('https://dl.dropboxusercontent.com/s/zuntunlk4igjxzf/ProximaNova-Bold.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}
@font-face {
       font-family: "ProximaNova-Extrabold";
       src: url('https://dl.dropboxusercontent.com/s/r10bnc45r87fnbx/ProximaNova-Extrabold.otf') format("opentype");
       font-weight: normal;
       font-style: normal;
}
