/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

@import "bootstrap-sprockets";
@import "bootstrap";
@import "font-awesome";

@font-face {
       font-family: "Bodoni72";
       src: font-url('BodoniSvtyTwoITCTT-Book.ttf') format("truetype");
       font-weight: normal;
       font-style: normal;
}

// Clearfix

.group:after {
  content: "";
  display: block;
  clear: both;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}


html, body, div#main, div.first-level, div.container-fluid.level-two, div.row.level-three, div.map.col-md-4.col-md-offset-2, div#map-canvas.col-md-offset-4 {
  height: 400px;
  margin: 0;
  padding: 0;
}

// div.map.col-md-4.col-md-offset-4 {
//   height: 550px;
// }
//
// map.col-md-4.col-md-offset-2 {
//   height: 550px;
// }

html, body {
  font-family: 'Oswald', sans-serif;
}


/*  Nav bar*/
nav.navbar {
  background-color: black;
  color: white;
  font-style: italic;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: -1px;
  label {
    // font-style: normal;
    font: "Arial";
    color: #777;
    letter-spacing: -1px;
  }
  form {
    text-align: center;
  }
  img {
    padding-top: 4px;
    padding-bottom: 3px;
    height: auto;
    width: 50px;
    .navbar-brand {
      height: 50px;

    }
  }
}

/* new session */
.veritcal-middle {
  vertical-align: middle;
}
.col-md-6.vertical-middle.col-md-offset-2 {
  vertical-align: middle;
}


/* Feed show - Landing page */
shop-items-index {
  background-color: #ebb3bd;
  opacity: 1;
}
.feed-header {
  color: rgb(202, 217, 231);
  background-color: rgba(#008B8B, .5);
  h1 {
    color: seashell;
  }
}


div.shops-index {
  background-color: rgba(144, 65, 65, 0.8);
  h3 {
    color: snow;
    font-weight: 100;
    letter-spacing: 1.5px;
  }
}

//
// hr {
//     display: block;
//     width: 175%;
//     height: 1px;
//     border: 0;
//     border-top: 1px solid #ccc;
//     margin: 1em 0;
//     padding: 0;
// }

div.shop-feature {
  float: right;
  &button:hover {
    background-color: #8C5233;
  }
}




.server-form {
  width: 250px;
  .form-control {
    width: 75%;
  }
}


/* New Shop */

// body {
//  -webkit-background-size: cover;
//  -moz-background-size: cover;
//  -o-background-size: cover;
//  background-size: cover;
// }

div.panel.panel-default.new-signup-form {
  opacity: 0.9;
  margin-top:30px;
  .form-group.last {
    margin-bottom:0px;
  }
}

input.form-control.new-shop-input {
  border-width: 0;
  text-align: center;
  color: black;
}

input#new-shop-name.form-control {
  background: maroon;

}
label {
  font-weight: 100;
}

div.col-md-offset-4.col-xs-offset-3.col-xs-6.col-md-4 {
background-color: rgba(0, 139, 139, 0.5);
  border-radius: 30px;
  color: white;
  text-align: center;
  letter-spacing: 3px;
}

::-webkit-input-placeholder {
   color: #808080;
   text-align: center;
   text-transform: uppercase;
   font-style: italic;

}
