.barber-public {
  height: 100%;
}
.container {
  background-color: rgba(0,0,0, 0.75);
  text-align: center;
  height: 101%;

  .barber-information {
    margin: 0 10%;
    .barber-show-info {
      font-family: "ProximaNova-Thin";
      color: aliceblue;
      margin-bottom: -35px;
    }
    .barber-show-name {
      font-size: 10em;
      font-family: "ProximaNova-Thin";
      color: white;
      text-transform: uppercase;
      letter-spacing: .1em;
      border-bottom: inset;
      border-bottom-width: thin;
    }

    .back-navi {
      font-family: "ProximaNova-thin";
      .back-button {
        padding: 10px;
        background-color: rgba(207, 0, 15,.5);
        border-radius: 3px;
        a {
          text-transform: uppercase;
          text-decoration: none;
          font-family: "proximanova-semibold";
        }
        &:hover {
          background-color: rgba(207, 0, 15,.7);
          -webkit-transition: all .1s;
          cursor: pointer;


        }
      }

    }

  }
  .photo-grid .grid-item-image {
    display: inline-block;
    height: 300px;
    width: auto;
    margin: 10px;
    object-fit: contain;
    border-radius: 12px;
  }

}
.user-reviews {
  font-size: 60px;
  color: white;
}

.barber-reviews {
  list-style: none;
  overflow-y: scroll;
  height: 80vh;
  text-align: left;
  color: white;
  .barber-review-rating {
    display: none;
  }
  img.user-avatar {
    height: 120px;
    float: left;
    margin-top: 3%;
    margin-right: 20px;
  }
}
