.container {
  background-color: rgba(0,83,111,.85);
  text-align: center;

  .barber-information {
    .barber-show-info {
      font-family: "ProximaNova-Thin";
      color: aliceblue;
      margin-bottom: -35px;
    }
    .barber-show-name {
      font-size: 10em;
      font-family: "ProximaNova-Thin";
      font-style: italic;
      color: rgb(111, 54, 54);
      text-transform: uppercase;
      letter-spacing: .1em;
      border-bottom: inset;
    }

    .back-navi {
      font-family: "ProximaNova-thin";
      a {
        text-transform: uppercase;
        text-decoration: none;
      }
    }

  }
  .photo-grid .grid-item-image {
    display: inline-block;
    height: 300px;
    width: auto;
    margin: 10px;
    object-fit: contain;
    border-style: solid;
    border-width: 5px;
    border-color: maroon;
  }

}
.user-reviews {
  font-size: 60px;
  color: white;
}

.barber-reviews {
  list-style: none;
  overflow-y: scroll;
  height: 80vh;
  text-align: left;
  color: white;
  .barber-review-rating {
    display: none;
  }
  img.user-avatar {
    height: 120px;
    float: left;
    margin-top: 3%;
    margin-right: 20px;
  }
}
