body {
  div.shop-items-index {

    background-color: #798C9F;
    opacity: 0.8;
  }
}

hr {
    display: block;
    width: 175%;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

div.shop-feature {
  float: right;
  &button:hover {
    background-color: #8C5233;
  }
}
