body {
  background-image: url("http://i.ytimg.com/vi/TjN9_-ZV68o/maxresdefault.jpg");
  background-size:cover;
  div.shop-items-index {
    background-color: #ebb3bd;
    opacity: 0.5;
  }
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

div.shop-feature {
  float: right;
  &button:hover {
    background-color: #AEC6CF;
  }
}
