/* Necessary for nav bar*/
nav.navbar {
  background-color: black;
  color: white;
  font-style: italic;
  font-size: 1.2em;
  text-transform: uppercase;
  letter-spacing: -1px;
  label {
    // font-style: normal;
    font: "Arial";
    color: #777;
    letter-spacing: -1px;
  }
  form {
    text-align: center;
  }
  img {
    padding-top: 3px;
    padding-bottom: 3px;
    height: auto;
    width: 50px;
  }
}
