/* New Shop */
div.col-md-offset-4.col-xs-offset-3.col-xs-6.col-md-4 {
background-color: rgba(0, 139, 139, 0.5);
  border-radius: 30px;
  color: white;
  letter-spacing: 3px;
  form {
    text-align: center;
  }
}

::-webkit-input-placeholder {
   color: #808080;
   text-align: center;
   text-transform: uppercase;
   font-style: italic;

}
