<!DOCTYPE html>
<html>
<head>
  <title>MyCut</title>

  <% if Rails.env.production? %>
    <% api_key = Figaro.env.google_maps_js_key %>
  <% else %>
    <% api_key = '' %>
  <% end %>

  <script type="text/javascript"
  src="https://maps.googleapis.com/maps/api/js?key=<% api_key %>">
  </script>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
